{% extends 'base.html' %}

{% block body %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div>
        <div class="container">
            <div class="banner_content text-center">
                <div style="max-width: 400px;
                min-height: 90px;margin: 0 auto;
                background: rgb(0, 0, 0, 0.4);">
                    <h2 style="text-shadow: 8px 16px 16px #000; ">Trips & Excursions</h2>
                    <div class="page_link">
                        <a href="/">Home</a>
                        <a href="{% url 'events:trips' %}">Trips & Excursions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="p-3" style="background-color: rgba(0,0,0,0.04);">
    <div class="container">
        <h2 style="text-align: center; font-weight: 500; font-size: 52px;">Trips & Excursions by School members</h2>
    </div>
</div>


<section class="about_area p_120">
    <div class="container">
        {% for x in trips %}
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="{{x.image.url}}" class="card-img zoom" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{x.headerline|safe|escape}} - {{x.date}}</h5>
                        <p class="card-text">{{x.first_para|safe|escape}}</p>
                        <p class="card-text">{{x.second_para|safe|escape}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock body %}