{% extends 'base.html' %}
{% block body %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>School Anthem</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="{% url 'academics:schoolanthem' %}">School Anthem</a>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<div class="container">
    <div class="card ">
        <h2 class="card-header alert alert-info text-center">School Anthem</h2>
        <div class="card-body">
        <p class="card-text text-justify">{{schoolanthem.school_anthem|safe|escape}}</p>
        </div>
    </div> 
</div>
{% endblock body %}