{% extends 'base.html' %}
{% block body %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Syllabus</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="{% url 'academics:syllabus' %}">Syllabus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="jumbotron">
    <h1 class="display-4 text-center">Syllabus for all Classes</h1>
    
  </div>

<div class="container">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Sl No.</th>
                <th scope="col">Class</th>
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            {% for x in syllabus %}
            <tbody>
              <tr>
                <th scope="row">{{x.id}}</th>
                <td>{{x.syllabus_header|safe|escape}}</td>
                <td><a href="{{x.syllabus_pdf.url}}" class="btn btn-primary" target="_blank">Syllabus link</a></td>
              </tr>
             
            </tbody>
            {% endfor %}
          </table>
        

</div> 

{% endblock body %}