{% extends 'base.html' %}

{% block body %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Members</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="{% url 'members:members' %}">Members</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="jumbotron">
    <h1 class="display-4 text-center">Teaching & Non-Teaching Staffs</h1>
   
  </div>

<div class="container">
    <div class="row">
        {% for x in members %}
        <br>
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="{{x.image.url}}" class="card-img-top" alt="...">
            <div class="card-body bg-light">
                <h5 class="card-title">{{x.name|safe|escape}}, {{x.post|safe|escape}}</h5> 
            </div>
          </div>
          <br>
        </div>
          
        {% endfor %}
    </div>
</div>  




{% endblock body %}